# Logs 
logs 
*.log 
npm-debug.log* 
yarn-debug.log* 
yarn-error.log* 
 
# Built assets/packaed extensions
dist/
packages/
 
# Dependency directories 
node_modules/ 
 
# Optional npm cache directory 
.npm 
 
# Yarn Integrity file 
.yarn-integrity 
 
# Secret files 
secrets.*.js 
 
# MacOS meta 
.DS_Store 