@import url('~vuetify/dist/vuetify.css');

/* 
* Vuetify overrides
*/
.v-btn,
.v-btn--icon:before {
	border-radius: 0 !important;
}
.v-toolbar__content {
	padding-right: 0 !important;
}
.v-input__prepend-outer {
	margin-right: 20px !important;
}
.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) .v-input__slot {
	border-radius: 6px !important;
	transition: all 0.3s;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12) !important;
}
.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) .v-input__slot:hover {
	box-shadow: 0 8px 15px rgba(33, 33, 33, 0.1) !important;
}
.v-btn--floating {
	border-radius: 100% !important;
}
.v-toolbar__extension {
	padding: 0 !important;
}
@media only screen and (min-width: 600px) {
	.v-snack__content .v-btn:first-of-type {
		margin-left: 16px !important;
	}
}
.v-dialog {
	border-radius: 0 !important;
}

/* 
* Dashboard styles
*/
html,
body,
.theme--light.application {
	background-color: #fafcff;
	margin: 0;
	font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
}
.spacedLetters {
	letter-spacing: 0.2em !important;
}
.boldTitle {
	font-weight: 900 !important;
}
.defaultCorners {
	border-radius: 0 !important;
}
.defaultShadow {
	transition: all 0.3s;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.12) !important;
}
.defaultShadow:hover {
	box-shadow: 0 8px 15px rgba(33, 33, 33, 0.1) !important;
	transform: translateY(-2px);
}
