@import url('vuetify/dist/vuetify.min.css');
@import url('./feather.css');

/* 
 * Vuetify overrides
 */
.v-btn {
  border-radius: 6px!important;
}
.v-toolbar__content {
  padding-right: 0!important;
}
.v-input__prepend-outer {
  margin-right: 20px!important;
}
.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) .v-input__slot {
  border-radius: 6px !important;
  transition: all 0.3s;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.12)!important;
}
.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat) .v-input__slot:hover {
  box-shadow: 0 8px 15px rgba(33, 33, 33, 0.10)!important;
}
.v-btn--floating {
  border-radius: 100%!important;
}

/* 
 * Dashboard styles
 */
html,
body {
  background-color: #fafcff;
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
}
.spacedLetters {
  letter-spacing: .20em!important;
}
.upperCase {
  text-transform: uppercase!important;
}
.boldTitle {
  font-weight: 900!important;
}
.defaultCorners {
  border-radius: 6px !important;
}
.squareCorners {
  border-radius: 0!important;
}
.defaultShadow {
  transition: all 0.3s;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.12)!important;
}
.defaultShadow:hover {
  box-shadow: 0 8px 15px rgba(33, 33, 33, 0.10)!important;
}