@import url('vuetify/dist/vuetify.min.css');
@import url('./feather.min.css');

/* 
 * Vuetify overrides
 */
.v-toolbar__content {
  padding-right: 0!important;
}

/* 
 * Dashboard styles
 */
html,
body {
  background-color: #fafcff;
  font-family: 'Roboto', Tahoma, Geneva, Verdana, sans-serif;
}
.spacedLetters {
  letter-spacing: .20em!important;
}
.upperCase {
  text-transform: uppercase!important;
}
.defaultShadow {
  box-shadow: 0 8px 15px rgba(125, 147, 178, 0.25)!important;
}
.extensionCard {
  border-radius: 8px !important;
  transition: all 0.3s;
}
